<h1>{{title}}</h1>
<p> Bienvenido a nuestro {{title}}</p></h4>  <br>

<img src="/images/img_3.jpg" alt="No es un paciente"> <br>
<a href="/pacientes">LISTAR PACIENTES</a><h4> <br>

<img src="/images/img_4.jpg" alt="No es un medico"> <br>
<a href="/medicos">LISTAR MEDICOS</a></h4> <br>

<img src="/images/img_5.jpg" alt="No es una cita"> <br>
<a href="/citas">LISTAR CITAS</a></h4> <br>